# RewriteEngine On

# RewriteCond %{REQUEST_URI} !^/uniapp
# RewriteRule .? /uniapp/ [R,L]

# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule (part.+(end|start)) /uniapp/$1/index.php

RewriteEngine On
RewriteBase /uniapp/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]
